pkgbase = dmenu-git
	pkgdesc = A generic menu for X
	pkgver = 4.8
	pkgrel = 1
	url = http://tools.suckless.org/dmenu/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = sh
	depends = libxinerama
	depends = libxft
	provides = dmenu
	conflicts = dmenu
	source = git://git.suckless.org/dmenu#tag=4.8
	source = config.h
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = dmenu-git

